@model IEnumerable<PersonalBlog.Models.Tables.Post>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Blog</h1>
    </div>
</div>
@foreach (var post in Model)
{
    <div class="row">
        <div class="col-md-12">
            <h1>@post.PostTitle</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>@post.PostBody</p>
        </div>
    </div>
}