@model PersonalBlog.UI.Models.PostSubmissionVM
@{
    ViewBag.Title = "Search";
}

@Html.DropDownListFor(f => f.Categories, new SelectList(Model.Categories, "CategoryId", "CategoryName", "SelectedValue"))
<input id="searchTag" type="text" class="form-control" name="tag" />
<button id="submitButton" type="submit" class="btn btn-success">Search</button>

<div class="row contentRows">
    
</div>

