@model PersonalBlog.Models.Tables.Post
@{
    ViewBag.Title = "AddPost";
}

@using (Html.BeginForm("AddPost", "Admin", FormMethod.Post))
{
    <label for="title">Title: </label>
    <input type="text" name="title" class="form-control" id="title" />
    <textarea id="mytextarea" name="body">Hello, World!</textarea>
    Html.DropDownListFor(Model.Category);
    <button type="submit" class="btn btn-success">Submit</button>
}

